# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
/.idea/*
/cmake-build-debug/*
/cmake-build-release/*
/Document/*
/MSVS/Debug/*
/MSVS/Libs/*
/MSVS/Release/*
/MSVS/suanPan/.vs/*
/MSVS/suanPan/Element/x64/*
/MSVS/suanPan/ElementExample/x64/*
/MSVS/suanPan/Material/x64/*
/MSVS/suanPan/MaterialExample/x64/*
/MSVS/suanPan/suanPan/x64/*

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
